PowerOnRent/PowerOnRentwebapp/Service References/DocumentService/DocumentService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DocumentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/GWCEcommServices/Service.Document/DocumentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iUC_AttachDocument_GetDocumentByReferenceId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentByReferenceId" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetDocumentByReferenceId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentByReferenceIdResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_ClearTempData_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearTempData" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_ClearTempData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearTempDataResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_FinalSaveToDBtDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:FinalSaveToDBtDocument" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_FinalSaveToDBtDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinalSaveToDBtDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_InsertIntoTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertIntoTemp" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_InsertIntoTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertIntoTempResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_CheckDuplicateDocumentTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckDuplicateDocumentTitle" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_CheckDuplicateDocumentTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckDuplicateDocumentTitleResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_DeleteDocumentFormTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentFormTemp" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_DeleteDocumentFormTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentFormTempResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetExistingTempDataBySessionIDObjectNameToRebind_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExistingTempDataBySessionIDObjectNameToRebind" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetExistingTempDataBySessionIDObjectNameToRebind_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExistingTempDataBySessionIDObjectNameToRebindResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetImportTemplateData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportTemplateData" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetImportTemplateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportTemplateDataResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetImportDesignDetailData_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImportDesignDetailData_Edit" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetImportDesignDetailData_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImportDesignDetailData_EditResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetEditedImportData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEditedImportData" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetEditedImportData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEditedImportDataResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetQueryBuilderObject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryBuilderObject" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetQueryBuilderObject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryBuilderObjectResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_FillObjectDDL_InputMessage">
    <wsdl:part name="parameters" element="tns:FillObjectDDL" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_FillObjectDDL_OutputMessage">
    <wsdl:part name="parameters" element="tns:FillObjectDDLResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_getCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getCustomer" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_getCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetQueryBuilderObjectNew_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryBuilderObjectNew" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_GetQueryBuilderObjectNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQueryBuilderObjectNewResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_SaveColumnData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveColumnData" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_SaveColumnData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveColumnDataResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_getCountImportTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:getCountImportTemplate" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_getCountImportTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCountImportTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_getObjectName_InputMessage">
    <wsdl:part name="parameters" element="tns:getObjectName" />
  </wsdl:message>
  <wsdl:message name="iUC_AttachDocument_getObjectName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getObjectNameResponse" />
  </wsdl:message>
  <wsdl:portType name="iUC_AttachDocument">
    <wsdl:operation name="GetDocumentByReferenceId">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetDocumentByReferenceId" message="tns:iUC_AttachDocument_GetDocumentByReferenceId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetDocumentByReferenceIdResponse" message="tns:iUC_AttachDocument_GetDocumentByReferenceId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearTempData">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/ClearTempData" message="tns:iUC_AttachDocument_ClearTempData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/ClearTempDataResponse" message="tns:iUC_AttachDocument_ClearTempData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinalSaveToDBtDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/FinalSaveToDBtDocument" message="tns:iUC_AttachDocument_FinalSaveToDBtDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/FinalSaveToDBtDocumentResponse" message="tns:iUC_AttachDocument_FinalSaveToDBtDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/InsertIntoTemp" message="tns:iUC_AttachDocument_InsertIntoTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/InsertIntoTempResponse" message="tns:iUC_AttachDocument_InsertIntoTemp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckDuplicateDocumentTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/CheckDuplicateDocumentTitle" message="tns:iUC_AttachDocument_CheckDuplicateDocumentTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/CheckDuplicateDocumentTitleResponse" message="tns:iUC_AttachDocument_CheckDuplicateDocumentTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentFormTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/DeleteDocumentFormTemp" message="tns:iUC_AttachDocument_DeleteDocumentFormTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/DeleteDocumentFormTempResponse" message="tns:iUC_AttachDocument_DeleteDocumentFormTemp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExistingTempDataBySessionIDObjectNameToRebind">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetExistingTempDataBySessionIDObjectNameToRebind" message="tns:iUC_AttachDocument_GetExistingTempDataBySessionIDObjectNameToRebind_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetExistingTempDataBySessionIDObjectNameToRebindResponse" message="tns:iUC_AttachDocument_GetExistingTempDataBySessionIDObjectNameToRebind_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportTemplateData">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetImportTemplateData" message="tns:iUC_AttachDocument_GetImportTemplateData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetImportTemplateDataResponse" message="tns:iUC_AttachDocument_GetImportTemplateData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImportDesignDetailData_Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetImportDesignDetailData_Edit" message="tns:iUC_AttachDocument_GetImportDesignDetailData_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetImportDesignDetailData_EditResponse" message="tns:iUC_AttachDocument_GetImportDesignDetailData_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEditedImportData">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetEditedImportData" message="tns:iUC_AttachDocument_GetEditedImportData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetEditedImportDataResponse" message="tns:iUC_AttachDocument_GetEditedImportData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueryBuilderObject">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetQueryBuilderObject" message="tns:iUC_AttachDocument_GetQueryBuilderObject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetQueryBuilderObjectResponse" message="tns:iUC_AttachDocument_GetQueryBuilderObject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FillObjectDDL">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/FillObjectDDL" message="tns:iUC_AttachDocument_FillObjectDDL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/FillObjectDDLResponse" message="tns:iUC_AttachDocument_FillObjectDDL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/getCustomer" message="tns:iUC_AttachDocument_getCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/getCustomerResponse" message="tns:iUC_AttachDocument_getCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQueryBuilderObjectNew">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetQueryBuilderObjectNew" message="tns:iUC_AttachDocument_GetQueryBuilderObjectNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/GetQueryBuilderObjectNewResponse" message="tns:iUC_AttachDocument_GetQueryBuilderObjectNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveColumnData">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/SaveColumnData" message="tns:iUC_AttachDocument_SaveColumnData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/SaveColumnDataResponse" message="tns:iUC_AttachDocument_SaveColumnData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCountImportTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/getCountImportTemplate" message="tns:iUC_AttachDocument_getCountImportTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/getCountImportTemplateResponse" message="tns:iUC_AttachDocument_getCountImportTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getObjectName">
      <wsdl:input wsaw:Action="http://tempuri.org/iUC_AttachDocument/getObjectName" message="tns:iUC_AttachDocument_getObjectName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUC_AttachDocument/getObjectNameResponse" message="tns:iUC_AttachDocument_getObjectName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iUC_AttachDocument" type="tns:iUC_AttachDocument">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocumentByReferenceId">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/GetDocumentByReferenceId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearTempData">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/ClearTempData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinalSaveToDBtDocument">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/FinalSaveToDBtDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoTemp">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/InsertIntoTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDuplicateDocumentTitle">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/CheckDuplicateDocumentTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentFormTemp">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/DeleteDocumentFormTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExistingTempDataBySessionIDObjectNameToRebind">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/GetExistingTempDataBySessionIDObjectNameToRebind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportTemplateData">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/GetImportTemplateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImportDesignDetailData_Edit">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/GetImportDesignDetailData_Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEditedImportData">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/GetEditedImportData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueryBuilderObject">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/GetQueryBuilderObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillObjectDDL">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/FillObjectDDL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomer">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/getCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueryBuilderObjectNew">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/GetQueryBuilderObjectNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveColumnData">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/SaveColumnData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCountImportTemplate">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/getCountImportTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getObjectName">
      <soap:operation soapAction="http://tempuri.org/iUC_AttachDocument/getObjectName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DocumentService">
    <wsdl:port name="BasicHttpBinding_iUC_AttachDocument" binding="tns:BasicHttpBinding_iUC_AttachDocument">
      <soap:address location="http://localhost/GWCEcommServices/Service.Document/DocumentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>