PowerOnRent/PowerOnRentwebapp/Service References/ImportService/ImportService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59491/ImportService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetTemplateDataByObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateDataByObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTemplateDataByObjectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertImportLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertImportLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertImportLocationResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromtempTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFromtempTableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewValidateImportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" name="ImportData" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewValidateImportDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTempTableValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTempTableValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTempTableValueResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateImportDataMorethan100">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateImportDataMorethan100Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemptablerecordCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemptablerecordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTemptablerecordCountResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecordToschedular">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="WarehouseID" type="xs:long" />
        <xs:element minOccurs="0" name="TotalNoOfRecords" type="xs:long" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecordToschedularResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulebyObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedulebyObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSchedulebyObjectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
        <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetScheduleCountResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:long" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="conn" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserCustomerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistinctPLCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistinctPLCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistinctPLCodesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewInsertVTImportdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Deptid" type="xs:long" />
        <xs:element minOccurs="0" name="LocId" type="xs:long" />
        <xs:element minOccurs="0" name="ProjectID" type="xs:long" />
        <xs:element minOccurs="0" name="SiteID" type="xs:long" />
        <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewInsertVTImportdataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewInsertVTImportdataResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistictSKUSchemaforSerial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatedBy" type="xs:long" />
        <xs:element minOccurs="0" name="CustomerID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistictSKUSchemaforSerialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistictSKUSchemaforSerialResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>