PowerOnRent/PowerOnRentwebapp/Service References/CompanySetupService/CompanySetupService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetGroupCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGroupCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetGroupCompanyResult" type="tns:ArrayOfMCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mCompany" nillable="true" type="tns:mCompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mCompany">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ParentID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Website" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Landmark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="County" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Zipcode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FaxNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LogoPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="MainDataSource" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MainDataBaseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MainDBPassword" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DataSource" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DataBaseName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="DBPassword" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MainServerLogin" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Logo" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="StampImg" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="Complogo" type="xs:base64Binary" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrderFormat" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="SourceEmail" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuralObject" abstract="true" />
  <xs:complexType name="EntityKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InsertmCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Company" type="tns:mCompany" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertmCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertmCompanyResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateCompany" type="tns:mCompany" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateCompanyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CompanyName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="checkDuplicateRecordResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CompanyName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDuplicateRecordEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="checkDuplicateRecordEditResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCompanyByIdResult" type="tns:mCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertmCompanyRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Company" type="tns:tCompanyRegistrationDetail" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="tCompanyRegistrationDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="NoOfUsers" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CRMRegistrationDate" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CRMExpiryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="mCompanyReference" type="tns:EntityReferenceOfmCompany" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityReferenceOfmCompany">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityReference" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelatedEnd" abstract="true" />
  <xs:element name="InsertmCompanyRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="InsertmCompanyRegistrationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="UpdateCompany" type="tns:tCompanyRegistrationDetail" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateCompanyRegistrationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfVGetCompanyDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vGetCompanyDetail" nillable="true" type="tns:vGetCompanyDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vGetCompanyDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ParentID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Website" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Landmark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="County" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Zipcode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FaxNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="LogoPath" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="NoOfUsers" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="CRMExpiryDate" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetCompanyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCompanyListResult" type="tns:ArrayOfVGetCompanyDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyRegisById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyRegisByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCompanyRegisByIdResult" type="tns:tCompanyRegistrationDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChechkCompanyServerNameDuplicate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ServerName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChechkCompanyServerNameDuplicateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ChechkCompanyServerNameDuplicateResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChechkCompanyDatabaseNameDuplicate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DataBaseName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChechkCompanyDatabaseNameDuplicateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ChechkCompanyDatabaseNameDuplicateResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChechkCompanyNameDuplicate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CompanyName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChechkCompanyNameDuplicateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ChechkCompanyNameDuplicateResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChechkCompanyServer_DataBaseNameDuplicate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ServerName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Database" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChechkCompanyServer_DataBaseNameDuplicateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ChechkCompanyServer_DataBaseNameDuplicateResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="DataBaseName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreDatabaseResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetCompanyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCompanyNameResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentListforgrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ParentID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentListforgridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDepartmentListforgridResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Savecustdeptinfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ParentID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Territory" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="Sequence" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="StoreCode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ApprovalLevel" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="AutoCancel" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="cancelDays" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ApprovalRem" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ApproRemSchedul" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="AutoCancRen" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="AutoRemSchedule" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="GwcDeliveries" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="ECommerce" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="OrderFormat" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="MaxDeliveryDays" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="AddressType" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="PriceChange" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="location" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="MerchantCode" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="TokenExptime" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="PreOrderExpTime" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="CustAnalytics" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="emoney" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="AutoApproval" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="ExpiryDays" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavecustdeptinfoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetDepartmentToEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentToEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDepartmentToEditResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeptInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Territory" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="StoreCode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ApprovalLevel" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="AutoCancel" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="cancelDays" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ApprovalRem" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ApproRemSchedul" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="AutoCancRen" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="AutoRemSchedule" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="GwcDeliveries" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="ECommerce" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="OrderFormat" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="MaxDeliveryDays" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="FinApproverID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="AddressType" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="PriceChange" type="xs:boolean" />
        <xs:element minOccurs="0" maxOccurs="1" name="location" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="MerchantCode" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="TokenExptime" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="PreOrderExpTime" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="CustAnalytics" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="emoney" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="AutoApproval" type="xs:boolean" />
        <xs:element minOccurs="1" maxOccurs="1" name="ExpiryDays" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeptInfoResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="chkDeptDuplicate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Territory" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="StoreCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chkDeptDuplicateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="chkDeptDuplicateResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptListWithSLA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ParentID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeptListWithSLAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDeptListWithSLAResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetLocationListResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLocContactInContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CustomerHeadID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="Sequence" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ContactTypeID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLocContactInContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="SaveLocContactInContactResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEditLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="LocationCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="County" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="zipcode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="landmark" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FaxNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ContactName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ContactEmail" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="LocationName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="MobileNo" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="hdnstate" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ShippingID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEditLocationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateLocationDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="LocationCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="County" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="zipcode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="landmark" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="FaxNo" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ContactName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ContactEmail" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="MobileNo" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
        <xs:element minOccurs="0" maxOccurs="1" name="hdnstate" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="LocationName" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ShippingID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationDetailsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="getFinApprovername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFinApprovernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getFinApprovernameResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetAddressTypeResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chkecommerceduplicate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ParentID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chkecommerceduplicateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="chkecommerceduplicateResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoDeptPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="PMethodID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="Sequence" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertIntoDeptPaymentResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeleteRecordWithZeroQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordWithZeroQtyResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="RemoveDeptPMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDeptPMethodResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateDeptPaymentMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeptPaymentMethodResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetCostCenterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCostCenterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCostCenterListResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteZeroCompanyIDCostCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteZeroCompanyIDCostCenterResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SaveCostCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CenterName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ApproverID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCostCenterResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="RemoveCostCenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCostCenterResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateCostCenterCmpanyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCostCenterCmpanyIDResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="Duplicatecostcenter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CenterName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuplicatecostcenterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DuplicatecostcenterResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicatePMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="PMethodID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicatePMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CheckDuplicatePMethodResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLocationIDForAssignedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Location" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLocationIDForAssignedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CheckLocationIDForAssignedUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactIdasShippingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactIdasShippingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="GetContactIdasShippingIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContacttableDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContacttableDetailResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetContactPersonListDeptWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfTContactPersonDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tContactPersonDetail" nillable="true" type="tns:tContactPersonDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tContactPersonDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ObjectName" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReferenceID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CustomerHeadID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Department" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Designation" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="EmailID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OfficeNo" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="MobileNo" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ContactTypeID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="InterestedIn" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Hobbies" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FacebookID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="FacebookPassword" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TwitterID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="TwitterPassword" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OtherID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HighestQualification" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CollegeOrUniversity" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="HighSchool" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Remark" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetContactPersonListDeptWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetContactPersonListDeptWiseResult" type="tns:ArrayOfTContactPersonDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactPersonLocList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactPersonLocListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetContactPersonLocListResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLocationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="LocationCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLocationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CheckLocationCodeResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="CompanyNm" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="DeptNm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="SchemaNm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DatabaseName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ConnectionString" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Deptcode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="wmsstorecode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="CreatedBy" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDataResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="BindGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="BindGridResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDataByIDResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="BindCompanyResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMaxNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyId" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="SchemaNm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DatabaseName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ConnectionString" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMaxNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="FindMaxNumberResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="CompanyNm" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="DeptNm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="SchemaNm" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DatabaseName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="ConnectionString" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Deptcode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="wmsstorecode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="ModifiedBy" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDataResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetDepartmentCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyId" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDepartmentCodeResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCodeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonCodeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetReasonCodeDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReasonCodeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="comid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="deptid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="typeid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="rcode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="rcodedes" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="defaultvalue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="active" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="reasonarb" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertReasonCodeDataResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateReasonCodeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="rid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="comid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="deptid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="typeid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="rcode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="rcodedes" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="defaultvalue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="active" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="reasonarb" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReasonCodeDataResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="BindSearchDataIntoGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deptid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSearchDataIntoGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="BindSearchDataIntoGridResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDefaultValueIsPresentOrNot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="comid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="deptid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="typeid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDefaultValueIsPresentOrNotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CheckDefaultValueIsPresentOrNotResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasoncodeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="comid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="deptid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="rcode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="typeid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="rcodedes" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="active" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="defaultvalue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasoncodeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetReasoncodeIdResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReasonCodeDataUsingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="defaultvalue" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReasonCodeDataUsingIdResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ResoncodeCheckDuplicate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="comid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="deptid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="typeid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="rcode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResoncodeCheckDuplicateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ResoncodeCheckDuplicateResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentList1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ComapnyID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMTerritory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mTerritory" nillable="true" type="tns:mTerritory" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mTerritory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ParentID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="Level" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" maxOccurs="1" name="GroupTitle" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Territory" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="IsMandatory" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Sequence" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="StoreCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ApprovalLevel" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="AutoCancel" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="cancelDays" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ApprovalRem" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="AutoCancRen" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AutoRemSchedule" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ApproRemSchedul" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ECommerce" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="OrderFormat" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="GwcDeliveries" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaxDeliveryDays" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="FinApproverID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="AddressType" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="PriceChange" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="location" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="MerchantCode" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="TokenExptime" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="UserID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="PreOrderExpTime" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="CustAnalytics" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDepartmentList1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDepartmentList1Result" type="tns:ArrayOfMTerritory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCompanyNameNEW">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCompanyNameNEWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserCompanyNameNEWResult" type="tns:ArrayOfMCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="comid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="deptid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="typeid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecordResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetDBConfigureDataByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="DeptId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDBConfigureDataByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDBConfigureDataByIDResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindCompanyUserWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="companyid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindCompanyUserWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="BindCompanyUserWiseResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSFTPGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindSFTPGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="BindSFTPGridResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkmerchantcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Deptid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkmerchantcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="checkmerchantcodeResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEcommerceCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEcommerceCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetEcommerceCompanyResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentList2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ComapnyID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentList2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDepartmentList2Result" type="tns:ArrayOfMTerritory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrtDriverList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="companyd" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrtDriverListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GrtDriverListResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHKDuplicateDedicateddr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Driverid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Customer" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Dept" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHKDuplicateDedicateddrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="CHKDuplicateDedicateddrResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ADDDedicatedDR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Driverid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Customer" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="Dept" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="userid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ADDDedicatedDRResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetDRList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDRListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDRListResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDriverDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDriverDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChkDrAssignActiveOrd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="drid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChkDrAssignActiveOrdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ChkDrAssignActiveOrdResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrdLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="StoreId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrdLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPrdLstResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentLst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="StoreId" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentLstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetPaymentLstResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="compid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="deptid" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="usersid" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="uid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserDetailsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUserDetailsResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="uid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserConfigResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetCompanyListNEw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyListNEwResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCompanyListNEwResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyDropDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="companyid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyDropDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCompanyDropDownResult" type="tns:ArrayOfMCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetCustomerIDResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>