PowerOnRent/PowerOnRentwebapp/Service References/RTSerialStock/DSerialRTimeStockService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.228.134.143/VTRTSerialStock/DSerialRTimeStockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RealTimeSerialStockService" />
  <xs:element name="CheckAvailableQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SKUCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DepartmentCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="connection" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="schema" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAvailableQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RealTimeSerialStockService" minOccurs="0" name="CheckAvailableQtyResult" nillable="true" type="q1:ArrayOfGetSerial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>