PowerOnRent/PowerOnRentwebapp/Service References/RTSerialStock/DSerialRTimeStockService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RealTimeSerialStockService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RealTimeSerialStockService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGetSerial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetSerial" nillable="true" type="tns:GetSerial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetSerial" nillable="true" type="tns:ArrayOfGetSerial" />
  <xs:complexType name="GetSerial">
    <xs:sequence>
      <xs:element minOccurs="0" name="QTY" type="xs:int" />
      <xs:element minOccurs="0" name="SERIAL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetSerial" nillable="true" type="tns:GetSerial" />
</xs:schema>