PowerOnRent/PowerOnRentwebapp/Service References/UCProductSearchService/UCProductSearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UCProductSearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/GWCEcommServices/Service.Product/UCProductSearchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iUCProductSearch_GetProductList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductList" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetProductList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductListResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetProductList1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductList1" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetProductList1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductList1Response" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSKUList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSKUList" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSKUList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSKUListResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_SKUListForGrid_InputMessage">
    <wsdl:part name="parameters" element="tns:SKUListForGrid" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_SKUListForGrid_OutputMessage">
    <wsdl:part name="parameters" element="tns:SKUListForGridResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSKUListDeptWise_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSKUListDeptWise" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSKUListDeptWise_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSKUListDeptWiseResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetProdAvailableBal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProdAvailableBal" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetProdAvailableBal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProdAvailableBalResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_Createtransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:Createtransaction" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_Createtransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatetransactionResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSkuListDeptWiseToUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkuListDeptWiseToUpdate" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSkuListDeptWiseToUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkuListDeptWiseToUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSkuListDeptWiseNewe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkuListDeptWiseNewe" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSkuListDeptWiseNewe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkuListDeptWiseNeweResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetProductSerialDetailNEW_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSerialDetailNEW" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetProductSerialDetailNEW_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSerialDetailNEWResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetProductSerialDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSerialDetails" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetProductSerialDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSerialDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSkuDeptSchemaData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkuDeptSchemaData" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSkuDeptSchemaData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkuDeptSchemaDataResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSkuDataWithSerial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkuDataWithSerial" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_GetSkuDataWithSerial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkuDataWithSerialResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_getProductdetailsUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:getProductdetailsUpdate" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_getProductdetailsUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductdetailsUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_updateIsreadFlag_InputMessage">
    <wsdl:part name="parameters" element="tns:updateIsreadFlag" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_updateIsreadFlag_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateIsreadFlagResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_insertlog_InputMessage">
    <wsdl:part name="parameters" element="tns:insertlog" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_insertlog_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertlogResponse" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_insertlogNew_InputMessage">
    <wsdl:part name="parameters" element="tns:insertlogNew" />
  </wsdl:message>
  <wsdl:message name="iUCProductSearch_insertlogNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertlogNewResponse" />
  </wsdl:message>
  <wsdl:portType name="iUCProductSearch">
    <wsdl:operation name="GetProductList">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetProductList" message="tns:iUCProductSearch_GetProductList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetProductListResponse" message="tns:iUCProductSearch_GetProductList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductList1">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetProductList1" message="tns:iUCProductSearch_GetProductList1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetProductList1Response" message="tns:iUCProductSearch_GetProductList1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSKUList">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetSKUList" message="tns:iUCProductSearch_GetSKUList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetSKUListResponse" message="tns:iUCProductSearch_GetSKUList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SKUListForGrid">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/SKUListForGrid" message="tns:iUCProductSearch_SKUListForGrid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/SKUListForGridResponse" message="tns:iUCProductSearch_SKUListForGrid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSKUListDeptWise">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetSKUListDeptWise" message="tns:iUCProductSearch_GetSKUListDeptWise_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetSKUListDeptWiseResponse" message="tns:iUCProductSearch_GetSKUListDeptWise_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProdAvailableBal">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetProdAvailableBal" message="tns:iUCProductSearch_GetProdAvailableBal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetProdAvailableBalResponse" message="tns:iUCProductSearch_GetProdAvailableBal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Createtransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/Createtransaction" message="tns:iUCProductSearch_Createtransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/CreatetransactionResponse" message="tns:iUCProductSearch_Createtransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkuListDeptWiseToUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetSkuListDeptWiseToUpdate" message="tns:iUCProductSearch_GetSkuListDeptWiseToUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetSkuListDeptWiseToUpdateResponse" message="tns:iUCProductSearch_GetSkuListDeptWiseToUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkuListDeptWiseNewe">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetSkuListDeptWiseNewe" message="tns:iUCProductSearch_GetSkuListDeptWiseNewe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetSkuListDeptWiseNeweResponse" message="tns:iUCProductSearch_GetSkuListDeptWiseNewe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSerialDetailNEW">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetProductSerialDetailNEW" message="tns:iUCProductSearch_GetProductSerialDetailNEW_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetProductSerialDetailNEWResponse" message="tns:iUCProductSearch_GetProductSerialDetailNEW_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSerialDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetProductSerialDetails" message="tns:iUCProductSearch_GetProductSerialDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetProductSerialDetailsResponse" message="tns:iUCProductSearch_GetProductSerialDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkuDeptSchemaData">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetSkuDeptSchemaData" message="tns:iUCProductSearch_GetSkuDeptSchemaData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetSkuDeptSchemaDataResponse" message="tns:iUCProductSearch_GetSkuDeptSchemaData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkuDataWithSerial">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/GetSkuDataWithSerial" message="tns:iUCProductSearch_GetSkuDataWithSerial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/GetSkuDataWithSerialResponse" message="tns:iUCProductSearch_GetSkuDataWithSerial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProductdetailsUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/getProductdetailsUpdate" message="tns:iUCProductSearch_getProductdetailsUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/getProductdetailsUpdateResponse" message="tns:iUCProductSearch_getProductdetailsUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateIsreadFlag">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/updateIsreadFlag" message="tns:iUCProductSearch_updateIsreadFlag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/updateIsreadFlagResponse" message="tns:iUCProductSearch_updateIsreadFlag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertlog">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/insertlog" message="tns:iUCProductSearch_insertlog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/insertlogResponse" message="tns:iUCProductSearch_insertlog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertlogNew">
      <wsdl:input wsaw:Action="http://tempuri.org/iUCProductSearch/insertlogNew" message="tns:iUCProductSearch_insertlogNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/iUCProductSearch/insertlogNewResponse" message="tns:iUCProductSearch_insertlogNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iUCProductSearch" type="tns:iUCProductSearch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProductList">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetProductList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductList1">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetProductList1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSKUList">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetSKUList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SKUListForGrid">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/SKUListForGrid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSKUListDeptWise">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetSKUListDeptWise" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProdAvailableBal">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetProdAvailableBal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Createtransaction">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/Createtransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkuListDeptWiseToUpdate">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetSkuListDeptWiseToUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkuListDeptWiseNewe">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetSkuListDeptWiseNewe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSerialDetailNEW">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetProductSerialDetailNEW" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSerialDetails">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetProductSerialDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkuDeptSchemaData">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetSkuDeptSchemaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkuDataWithSerial">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/GetSkuDataWithSerial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProductdetailsUpdate">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/getProductdetailsUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateIsreadFlag">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/updateIsreadFlag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertlog">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/insertlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertlogNew">
      <soap:operation soapAction="http://tempuri.org/iUCProductSearch/insertlogNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UCProductSearchService">
    <wsdl:port name="BasicHttpBinding_iUCProductSearch" binding="tns:BasicHttpBinding_iUCProductSearch">
      <soap:address location="http://localhost/GWCEcommServices/Service.Product/UCProductSearchService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>