PowerOnRent/PowerOnRentwebapp/Service References/UCProductSearchService/UCProductSearchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetProductList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProductListResult" type="tns:ArrayOfGetProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfGetProductDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetProductDetail" nillable="true" type="tns:GetProductDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProductDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductTypeID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductCategoryID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductSubCategoryID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="UOMID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PrincipalPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="FixedDiscount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="FixedDiscountPercent" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Warranty" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Guarantee" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Installable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AMC" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="WarrantyDays" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="GuaranteeDays" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="OpeningBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReorderLevel" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaxBalanceQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="MinOrderQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="LeadTimeDays" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductCategory" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductSubCategory" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UOM" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Cost" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="OMSSKUCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GroupSet" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="StoreId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="CompanyName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Territory" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AvailableBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="moq" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="VirtualQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="AvailVirtualQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ISSim" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="serialflag" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityObject" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StructuralObject" abstract="true" />
  <xs:complexType name="EntityKey">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="EntitySetName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityContainerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EntityKeyValues" type="tns:ArrayOfEntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfEntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityKeyMember" nillable="true" type="tns:EntityKeyMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityKeyMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Key" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetProductList1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductList1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProductList1Result" type="tns:ArrayOfGetProductDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSKUList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfVW_GetSKUDetailsWithPack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VW_GetSKUDetailsWithPack" nillable="true" type="tns:VW_GetSKUDetailsWithPack" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VW_GetSKUDetailsWithPack">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PrincipalPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="Packkey" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="GroupSet" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Path" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="StoreId" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="AvailableBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="DDescription" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetSKUListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSKUListResult" type="tns:ArrayOfVW_GetSKUDetailsWithPack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SKUListForGrid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:int" />
        <xs:element minOccurs="1" maxOccurs="1" name="GroupSetID" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RelatedEnd" abstract="true" />
  <xs:complexType name="EntityReference" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="EntityKey" type="tns:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityReferenceOfmUOM">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityReferenceOfmProductType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityReferenceOfmProductSubCategory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityReferenceOfmProductCategory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfMProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mProduct" nillable="true" type="tns:mProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mProduct">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductTypeID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductCategoryID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="ProductSubCategoryID" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="UOMID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="PrincipalPrice" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="FixedDiscount" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="FixedDiscountPercent" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="Active" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Warranty" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Guarantee" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="Installable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="AMC" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="WarrantyDays" nillable="true" type="xs:int" />
          <xs:element minOccurs="1" maxOccurs="1" name="GuaranteeDays" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="OpeningBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="CurrentBalance" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="ReorderLevel" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="MaxBalanceQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="MinOrderQuantity" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="LeadTimeDays" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="LastModifiedBy" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CompanyID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="StoreId" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="BOMHeaderId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="Packkey" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="OMSSKUCode" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Cost" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="GroupSet" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="moq" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="ProductType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IsSim" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="serialflag" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="mProductCategoryReference" type="tns:EntityReferenceOfmProductCategory" />
          <xs:element minOccurs="0" maxOccurs="1" name="mProductSubCategoryReference" type="tns:EntityReferenceOfmProductSubCategory" />
          <xs:element minOccurs="0" maxOccurs="1" name="mProductTypeReference" type="tns:EntityReferenceOfmProductType" />
          <xs:element minOccurs="0" maxOccurs="1" name="mUOMReference" type="tns:EntityReferenceOfmUOM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SKUListForGridResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SKUListForGridResult" type="tns:ArrayOfMProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSKUListDeptWise">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSKUListDeptWiseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSKUListDeptWiseResult" type="tns:ArrayOfVW_GetSKUDetailsWithPack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdAvailableBal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Pid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProdAvailableBalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProdAvailableBalResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Createtransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="SKUCode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="DepartmentCode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="gtotal" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatetransactionResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetSkuListDeptWiseToUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkuListDeptWiseToUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSkuListDeptWiseToUpdateResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkuListDeptWiseNewe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" maxOccurs="1" name="filter" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="UserID" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="DeptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkuListDeptWiseNeweResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSkuListDeptWiseNeweResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSerialDetailNEW">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="skuid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfGetProductSerialDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetProductSerialDetail" nillable="true" type="tns:GetProductSerialDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetProductSerialDetail">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="SKUId" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="StoreId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="SerialNumber" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="AvailableQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="ResurveQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="DispatchQty" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="1" maxOccurs="1" name="CreationBy" nillable="true" type="xs:long" />
          <xs:element minOccurs="1" maxOccurs="1" name="LastModifiedBy" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetProductSerialDetailNEWResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProductSerialDetailNEWResult" type="tns:ArrayOfGetProductSerialDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSerialDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Oid" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="Sid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSerialDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetProductSerialDetailsResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkuDeptSchemaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Sid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkuDeptSchemaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSkuDeptSchemaDataResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkuDataWithSerial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="Sid" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkuDataWithSerialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetSkuDataWithSerialResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductdetailsUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="cntrecord" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductdetailsUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="getProductdetailsUpdateResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateIsreadFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="productcode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="storecode" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateIsreadFlagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="updateIsreadFlagResult">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertlog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="skuCode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="deptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="transactiontype" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="AVLqty" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="Resqty" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="realtimestkqty" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertlogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="insertlogResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertlogNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="skuCode" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="deptID" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="transactiontype" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="AVLqty" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="Resqty" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="realtimestkqty" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="conn" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertlogNewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="insertlogNewResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>